<!DOCTYPE html>
<html lang="en">
<head>
<title>Notification</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../static/styles/bootstrap4/bootstrap.min.css">
<link href="../static/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/styles/cart_styles.css">
<link rel="stylesheet" type="text/css" href="../static/styles/cart_responsive.css">

<script type="text/javascript">


    // function myvalue() {
    //     total_cnt=0
    //      var table = document.getElementById("mytable");
    //        k=document.getElementById("total");
    //
    //      for(var r =0, n = table.rows.length; r < n; r++)
    //          {
    //              var x = document.getElementById("cnti"+r).value;
    //             // console.log(x);
    //              for(var c=0, m = table.rows[r].cells.length;c<m;c++)
    //                  {
    //                      //alert(table.rows[r].cells[c].innerHTML);
    //                      // y = table.rows[r].cells[c].innerHTML;
    //                  }
    //
    //                  var z = parseFloat(table.rows[r].cells[2].innerHTML);
    //                  y=document.getElementById("price"+r);
    //                  y.innerText=x*z;
    //
    //                 total_cnt=total_cnt+(x*z);
    //          }
    //          k.innerText=total_cnt;
    //      // var x = document.getElementById("cnti").value;
    //      // y=document.getElementById("price");
    //      // z= document.getElementById("unit_price").innerText;
    //      // y.innerText=x*z;
    //      // console.log(x);
    // }
    //
    //  function getId(element) {
    //     //alert("row" + element.parentNode.parentNode.rowIndex + " - column" + element.parentNode.cellIndex);
    //     x = document.getElementById("item"+element.parentNode.parentNode.rowIndex).innerText;
    //     console.log(x);
    //
    //      var xhttp = new XMLHttpRequest();
    //   xhttp.onreadystatechange = function() {
    //     if (this.readyState == 4 && this.status == 200) {
    //        // Typical action to be performed when the document is ready:
    //        // document.getElementById("demo").innerHTML = xhttp.responseText;
    //       }
    //     };
    //   // alert(document.getElementById("ID").value);
    // //
    // //   console.log(x);
    // xhttp.open("GET", "http://127.0.0.1:5000/updateee?query="+x,true);
    // xhttp.send();
    // }

</script>


<style>
    #loll
    {
        margin-left: 4%;
        margin-right: 4%;
        width: 92%;
        margin-top: 130px;
    }
    #first
    {
        float: left;
        width: 30%;
    }
    #second
    {
        float: right;
        width: 30%;
    }
    #tot
    {
        width: 92%;
        float: top;
        margin-left: 4%;
        margin-right: 4%;
    }
</style>

<style>
body{
			font: 1rem/1.6 "Helvetica", Sans-serif;
		}

		main{
			width: 90%;
			margin:50px auto;

			-moz-column-width: 220px;
			-webkit-column-width: 220px;
			column-width: 220px;

			-moz-column-count: 3;
			-webkit-column-count: 3;
			column-count: 3;

			-moz-column-gap: 10px;
			-webkit-column-gap: 10px;
			column-gap: 10px;

		}

		a[title] figure img{
			width: 280px;
			height: 180px;
			margin-top:1rem;
		}

		main a[title]{
			text-decoration: none;
			padding: 1rem;
			color:#424242;
			box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
			display: inline-block;

			margin-bottom:20px;

			transition: all .3s cubic-bezier(0.25, .8, .25, 1);
		}

		main:hover a[title]:not(:hover){
			opacity: .6;
		}

		a[title]:hover{
			box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .20);

		}
</style>



</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_content ml-auto">
							<div class="top_bar_menu">

							</div>
							<div class="top_bar_user">
								<div class="user_icon"><img src="../static/images/user.svg" alt=""></div>

								{% if session.logged_in %}
                                <div><a href="/registertran">Register</a></div>
                                <div><a href="/logout">Logout</a></div>
                                  {% else %}
                                  <div><a href="/registertran">Register</a></div>
						    		<div><a href="/login">Sign in</a></div>
                                 {% endif %}

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="/">SuperShop</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form action="{{ url_for('search_result') }}" class="header_search_form clearfix" id="upload_form" method="POST">
										<input type="search" name="Item_Name" required="required" class="header_search_input" value="{{request.form.Item_Name}}" placeholder="Search for products...">
										<div class="custom_dropdown">

                                            <div class="custom_dropdown_list">
{#												<span class="custom_dropdown_placeholder clc">All Categories</span>#}
{#												<i class="fas fa-chevron-down"></i>#}
{#												<ul class="custom_list clc">#}
{#													<li><a class="clc" href="#">Life_Style</a></li>#}
{#													<li><a class="clc" href="#">Home_Care</a></li>#}
{#													<li><a class="clc" href="#">Fruits</a></li>#}
{#													<li><a class="clc" href="#">Drinks</a></li>#}
{#													<li><a class="clc" href="#">Biscuits</a></li>#}
{#													<li><a class="clc" href="#">Fish</a></li>#}
{#                                                    <li><a class="clc" href="#">Chocolate_&_Candies</a></li>#}
{#                                                    <li><a class="clc" href="#">Breads</a></li>#}
{#                                                    <li><a class="clc" href="#">Vegetables</a></li>#}
{#                                                    <li><a class="clc" href="#">Meat</a></li>#}
{#                                                    <li><a class="clc" href="#">Snacks_&_Instants</a></li>#}
{#                                                    <li><a class="clc" href="#">Baby_Food</a></li>#}
{#												</ul>#}

                                                <div class="form-group">
{#                                                    <label class="sr-only" for="rating">Rating for Cafe</label>#}
                                                    <select class="form-control" id="Category" name="Category">
                                                        <option selected>Life_Style</option>
                                                        <option>Home_Care</option>
                                                        <option>Fruits</option>
                                                        <option>Drinks</option>
                                                        <option>Biscuits</option>
                                                        <option>Fish</option>
                                                        <option>Chocolate_&_Candies</option>
                                                        <option>Breads</option>
                                                        <option>Vegetables</option>
                                                        <option>Meat</option>
                                                        <option>Snacks_&_Meat</option>
                                                        <option>Baby_Food</option>
                                                    </select>

                                                </div>

											</div>

										</div>
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="../static/images/search.png" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					{% if session.username!="Admin" and session.logged_in%}


					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">


							<!-- Cart -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="../static/images/cart.png" alt="">
										<div class="cart_count"><span></span></div>
									</div>
									<div class="cart_content">
										<div class="cart_text"><a href="/cart">Cart</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					 {% endif %}
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">categories</div>
								</div>

								<ul class="cat_menu">
									<li><a href="/Life_Style">Life Style <i class="fas fa-chevron-right ml-auto"></i></a></li>
									<li><a href="/Home_Care">Home Care<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Fruits">Fruits<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Drinks">Drinks<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Biscuits">Biscuits<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Fish">Fish<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Chocolate_&_Candies">Chocolate & Candies<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Breads">Breads<i class="fas fa-chevron-right"></i></a></li>
									<li><a href="/Vegetables">Vegetables<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/Meat">Meat<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/Snacks_&_Instants">Snacks & Instants<i class="fas fa-chevron-right"></i></a></li>
                                    <li><a href="/Baby_Food">Baby Food<i class="fas fa-chevron-right"></i></a></li>
								</ul>
							</div>


							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href="/">Home<i class="fas fa-chevron-down"></i></a></li>


                                {% if session.logged_in %}
                                    <li><a href="/profile">My Profile<i class="fas fa-chevron-down"></i></a></li>
                                    <li><a href="/notification_page">Notifications<i class="fas fa-chevron-down"></i></a></li>
                                {%  endif %}

									{% if session.username=="Admin" %}
                                <li><a href="/add_item">Add Item<i class="fas fa-chevron-down"></i></a></li>
{#                                        <li><a href="/add_super_deal">Add Super Deal<i class="fas fa-chevron-down"></i></a></li>#}
                                <li><a href="/show_feedback">Show Feedback<i class="fas fa-chevron-down"></i></a></li>
                                        <li><a href="/show_cart">Show Cart<i class="fas fa-chevron-down"></i></a></li>
                                  {% else %}
								<li><a href="/contact">Contact<i class="fas fa-chevron-down"></i></a></li>
                                 {% endif %}
						    	</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- Menu -->



	</header>

        <div id="container">

       <center><p style="padding-left: 7%;font-size: 22px">Notifications</p></center>
       <table id="mytable" style="width: 100%; height: 5cm;background-color: #117a8b; margin-top: 20px;font-size: 22px;color: white">
        {% for d in li%}

            <tr>


                <!--<td style="width: 60%">-->

               {% for row in data[d] %}

                    <!--<p style="font-size: 20px;color: white">-->

                     {% if row==data[d][1] %}
                     <td style="padding-left: 7%">{{data[d][1]}}</td>
                     {% endif%}
                {% endfor %}

            </tr>
         {% endfor %}
        </table>




    </div>
</div>



</div>

<!--
{#    <div class="page_menu">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col">#}
{##}
{#						<div class="page_menu_content">#}
{##}
{#							<div class="page_menu_search">#}
{#								<form action="#">#}
{#									<input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">#}
{#								</form>#}
{#							</div>#}
{#							<ul class="page_menu_nav">#}
{#								<li class="page_menu_item has-children">#}
{#									<a href="#">Language<i class="fa fa-angle-down"></i></a>#}
{#									<ul class="page_menu_selection">#}
{#										<li><a href="#">English<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li class="page_menu_item has-children">#}
{#									<a href="#">Currency<i class="fa fa-angle-down"></i></a>#}
{#									<ul class="page_menu_selection">#}
{#										<li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li class="page_menu_item">#}
{#									<a href="index.html">Home<i class="fa fa-angle-down"></i></a>#}
{#								</li>#}
{#								<li class="page_menu_item has-children">#}
{#									<a href="#">Super Deals<i class="fa fa-angle-down"></i></a>#}
{#									<ul class="page_menu_selection">#}
{#										<li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>#}
{#										<li class="page_menu_item has-children">#}
{#											<a href="#">Menu Item<i class="fa fa-angle-down"></i></a>#}
{#											<ul class="page_menu_selection">#}
{#												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#												<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#											</ul>#}
{#										</li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li class="page_menu_item has-children">#}
{#									<a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>#}
{#									<ul class="page_menu_selection">#}
{#										<li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li class="page_menu_item has-children">#}
{#									<a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>#}
{#									<ul class="page_menu_selection">#}
{#										<li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#										<li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>#}
{#									</ul>#}
{#								</li>#}
{#								<li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>#}
{#								<li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>#}
{#							</ul>#}
{##}
{#							<div class="menu_contact">#}
{#								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/phone_white.png" alt=""></div>+38 068 005 3570</div>#}
{#								<div class="menu_contact_item"><div class="menu_contact_icon"><img src="images/mail_white.png" alt=""></div><a href="mailto:fastsales@gmail.com">fastsales@gmail.com</a></div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}



	<!-- Cart -->

	<!--<div class="cart_section">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="cart_container">
						<div class="cart_title">Shopping Cart</div>
						<div class="cart_items">
							<ul class="cart_list">
								<li class="cart_item clearfix">
									<div class="cart_item_image"><img src="images/shopping_cart.jpg" alt=""></div>
									<div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
										<div class="cart_item_name cart_info_col">
											<div class="cart_item_title">Name</div>
											<div class="cart_item_text">MacBook Air 13</div>
										</div>
										<div class="cart_item_color cart_info_col">
											<div class="cart_item_title">Color</div>
											<div class="cart_item_text"><span style="background-color:#999999;"></span>Silver</div>
										</div>
										<div class="cart_item_quantity cart_info_col">
											<div class="cart_item_title">Quantity</div>
											<div class="cart_item_text">1</div>
										</div>
										<div class="cart_item_price cart_info_col">
											<div class="cart_item_title">Price</div>
											<div class="cart_item_text">$2000</div>
										</div>
										<div class="cart_item_total cart_info_col">
											<div class="cart_item_title">Total</div>
											<div class="cart_item_text">$2000</div>
										</div>
									</div>
								</li>
							</ul>
						</div>

						<!-- Order Total -->
						<!--<div class="order_total">
							<div class="order_total_content text-md-right">
								<div class="order_total_title">Order Total:</div>
								<div class="order_total_amount">$2000</div>
							</div>
						</div>

						<div class="cart_buttons">
							<button type="button" class="button cart_button_clear">Add to Cart</button>
							<button type="button" class="button cart_button_checkout">Add to Cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
<hr>
<hr>
<footer class="footer">
		<div class="container" >
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">Super Shop</a></div>
						</div>
						<div class="footer_title">Got Question? Call Us 24/7</div>
						<div class="footer_phone">+8801316194629</div>
						<div class="footer_contact_text">
							<p>90/91 Nazimuddin Road</p>
							<p>Chankharpul, Dhaka</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>




<script src="../static/js/jquery-3.3.1.min.js"></script>
<script src="../static/styles/bootstrap4/popper.js"></script>
<script src="../static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/js/cart_custom.js"></script>
</body>

</html>